# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

.metadata/.plugins/org.eclipse.core.resources/.history/2/2061236a5c13001414e1e31ed18b67d1
.metadata/.plugins/org.eclipse.core.resources/.history/34/20ee839f5c13001414e1e31ed18b67d1
.metadata/.plugins/org.eclipse.core.resources/.history/3c/f08a7b855d13001414e1e31ed18b67d1
.metadata/.plugins/org.eclipse.core.resources/.history/41/905a508d5c13001414e1e31ed18b67d1
.metadata/.plugins/org.eclipse.core.resources/.history/4a/
.metadata/*
.metadata/.plugins/*
.plugins/*
*.class
*.index
*.snap
*.resources
*.xmi
*.class
